*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
/**/build/
.externalNativeBuild
.cxx
release.jks
app/build/
*.log
.kotlin/
.opencode/
Thumbs.db
*.hprof
*.apk
*.aab
*.jks
*.keystore
